set timeout=20
set default=0
insmod all_video
insmod gfxterm
insmod png
insmod part_msdos
insmod part_gpt
insmod ntfs
insmod ext2
insmod chain
if [ -f /boot/grub/chimerax.png ]; then
    background_image /boot/grub/chimerax.png
fi
menuentry "ChimeraX OS - GUI Install" {
    linux /boot/vmlinuz auto=true priority=critical
    initrd /boot/initrd.gz
}
menuentry "ChimeraX OS - Text Install (DOS)" {
    linux /boot/vmlinuz auto=true priority=critical text=true
    initrd /boot/initrd.gz
}
menuentry "ChimeraX OS - Auto Install" {
    linux /boot/vmlinuz auto=true priority=critical automatic-ubiquity
    initrd /boot/initrd.gz
}
menuentry "ChimeraX OS - Live Mode" {
    linux /boot/vmlinuz boot=live
    initrd /boot/initrd.gz
}
submenu "Boot Other OS" {
    menuentry "Windows" {
        search --set=root --file /bootmgr
        chainloader +1
    }
    menuentry "Linux" {
        search --set=root --file /etc/os-release
        configfile /boot/grub/grub.cfg
    }
}
menuentry "Shutdown" { halt }
menuentry " " --hotkey d --hidden {
    if [ -f /boot/chimerax/linkernel.dat.png ]; then
        background_image /boot/chimerax/linkernel.dat.png
        sleep 4
        background_image /boot/grub/chimerax.png
    fi
}
